/* Estilos Generales */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  
  .success-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para Mensaje de Éxito */
  .success-message {
    background-color: #e0ffe0;
    color: #2d662d;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #b2d8b2;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
  }
  
  .success-message i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #4caf50;
  }
  
  /* Ajustes para Pantallas Grandes */
  @media (min-width: 600px) {
    .success-container {
      padding: 40px;
    }
  
    .success-message {
      font-size: 1.4em;
    }
  }
  